<h1>Welcome to Room 2</h1>
<form action="/room3">
<button name="right" type="submit" value="click">Right</button>
<button name="dead-end" type="submit" value="click">Forward</button>
<button name="dead-end" type="submit" value="click">Left</button>
</form>
