<h2>Welcome to room: <%=@path_number%> <%=@game_path[@path_number].pos%></h2>
<form action="/room/:pos" method="post">
    <%@game_path[@path_number].accessible_rooms.each do |accessible_room, direction| %>
      <button type="button" name="<%=accessible_room%>"><%=direction%></button>
    <%end%>
</form>
