<h1>Welcome to Room 4</h1>
<form action="/room5">
<button name="dead-end" type="submit" value="click">Path 1</button>
<button name="dead-end" type="submit" value="click">Path 2</button>
<button name="path3" type="submit" value="click">Path 3</button>
<button name="dead-end" type="submit" value="click">Path 4</button>
<button name="dead-end" type="submit" value="click">Path 5</button>
</form>
