<h1>Welcome to Room 1</h1>
<form action="/room2">
<button name="dead-end" type="submit" value="click">Right</button>
<button name="dead-end" type="submit" value="click">Forward</button>
<button name="left" type="submit" value="click">Left</button>
</form>
